{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Product</h1>
    {% else %}
        <h1>{{ product.name }}</h1>
    {% endif %}
    <div class="text-center">
        {% if not product.image  == null %}
            <img class="img-fluid rounded img-thumbnail" STYLE="min-width: 300px; max-width: 300px" src="{{ asset(product.image) }}">
        {% endif %}
    </div>
    <table class="table">
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>

            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ product.user }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ product.type }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_product_index') }}">back to list</a>

        <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
        {{ include('product/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
